<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle Financeiro</title>
</head>
<body style="text-align: center">
    {{> header}}
    <main>
    <section id="table-sec">
        <table style="width: 80%; margin: 0 auto">
            <tr>
                <th>Valor</th>
                <th>Mês</th>
                <th>Categoria</th>
                <th>Observações</th>
            </tr>
            {{#each gasto}}
                <tr>
                    <td>{{this.valor}}</td>
                    <td>{{this.mes}}</td>
                    <td>{{this.categoria}}</td>
                    <td>{{this.observacao}}</td>
                </tr>
            {{/each}}
        </table>
    <!--    <ul>style="margin: 0 auto;
    {{#each test}}style="margin: 0 auto;
        <li>{{this.text}}<button oncstyle="margin: 0 auto;lick="update(this)" data-id='{{this.id}}' data-tstyle="margin: 0 auto;ext = {{this.text}}>Edit</button><a href="/delestyle="margin: 0 auto;te/{{this._id}}">Delete</a></li>
    {{/each}}
        </ul> -->
    </section>
    <section id="form-sec">
        <form action="/save" method="POST" style="width: 80%; margin: 0 auto">
            <input type="number" placeholder="Valor" name="valor" min="0" value="0.01">
            <input type="text" placeholder="Mes" name="mes">
            <input type="text" placeholder="Categoria" name="categoria">
            <input type="text" placeholder="Observação" name="observacao">
            <button type="submit">Submit</button>
        </form>
        <form action="" method="POST" style="width: 80%; margin: 0 auto">
            <input type="text" placeholder="Update" name='text'>
            <button type="submit">Update</button>
        </form>
    </section>
    </main>
    {{> footer}}
    <script>
        //month Array
        const month = [
            "Janeiro",
            "Fevereiro",
            "Março",
            "Abril",
            "Maio",
            "Junho",
            "Julho",
            "Agosto",
            "Setembro",
            "Outubro",
            "Novembro",
            "Dezembro"
            ]
        //functions
        function update(el){
            const updateForm = document.querySelector('form:last-child');
            const updateFormInput = document.querySelector('form:last-child input');
            updateFormInput.value = el.dataset.text;
            updateForm.setAttribute('action',`/update/${el.dataset.id}`);
        }
        function getMoth() {
            const d = new Date();
            mesAtual.value = month[d.getMonth()];
        }
        /*function preventEnterSubmission(e){
            debugger;
            console.log(e.keyCode);
            if(e.keyCode === 13) {
                e.preventDefault();
                console.log('sub prevented');
                return false;
            }
        }*/
        //event listeners
        const novoGasto = document.querySelector('[name=valor]');
        novoGasto.addEventListener('change',getMoth);
        const mesAtual = document.querySelector('[name=mes]');
       /* const forms = document.querySelectorAll('form input');
        forms.forEach(form => {
            form.addEventListener('keyup',preventEnterSubmission);        
        });*/
    </script>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th{
        text-align: center;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</body>
</html>