<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body style="text-align: center">
    {{> header}}
    <main>
    <section id="info-sec">
        <table>
            <tr>
                <th>Gasto total</th>
                <th>Gasto Disponivel</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </section>
    <section id="table-sec">
        <table>
            <tr>
                <th>Valor</th>
                <th>Mês</th>
                <th>Categoria</th>
                <th>Observações</th>
                <th>Editar</th>
            </tr>
            {{#each gasto}}
                <tr data-id='{{this.id}}'>
                    <td class='cell'>{{this.valor}}</td>
                    <td class='cell'>{{this.mes}}</td>
                    <td class='cell'>{{this.categoria}}</td>
                    <td class='cell'>{{this.observacao}}</td>
                    <td><button onclick="edit(this)">Edit</button></td>
                    <td><button onclick="deleteEl(this)">Delete</button></td>
                </tr>
            {{/each}}
        </table>
    </section>
    <section id="form-sec">
        <form id="save-form" action="/save" method="POST" style="width: 80%">
            <input type="number" placeholder="Valor" name="valor" min="0" value="0.01">
            <input type="text" placeholder="Mes" name="mes">
            <input type="text" placeholder="Categoria" name="categoria">
            <input type="text" placeholder="Observação" name="observacao">
            <button type="submit">Submit</button>
        </form>
        <form id="update-form"  method="POST" style="width: 80%">
            <input type="number" placeholder="Valor" name="valor" min="0" value="0.01">
            <input type="text" placeholder="Mes" name="mes">
            <input type="text" placeholder="Categoria" name="categoria">
            <input type="text" placeholder="Observação" name="observacao">
            <button type="submit">Update</button>
        </form>
    </section>
    </main>
    {{> footer}}
    <script src="js/app.js"></script>
</body>
</html>